.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border: 3px solid #000;
  border-radius: 10px;
  margin-top: 10px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.botton-style {
  margin: 10px;
}

.toggle-container {
  margin: 20px;
  margin-right: 100px;
  font-size: 20px;
}

.toggle-margin {
  margin: 20px;
}

.checkbox-label {
  position: relative;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.checkbox-label:hover .checkmark {
  background-color: #ccc;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-label .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #2566cc;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.title {
  font-size: 40px;
  margin-bottom: 30px;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(236, 150, 21, 0.2);
  margin: 0;
  padding: 50px;
  font-size: 3em;
  text-align: center;
  background: radial-gradient(circle at bottom, var(--white), transparent 80%),
    linear-gradient(to top, var(--blue) 0%, transparent 70%),
    linear-gradient(to bottom, transparent, rgba(var(--white), 0.4) 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: bg 30s infinite;

  width: 100%;
  box-sizing: border-box;
  overflow: visible;
  height: auto;
  min-height: 100px;
}

:root {
  --white: #fff;
  --blue: #1e90ff;
  --green: #39d24a;
  --yellow: #ffe244;
  --pink: #ff36a3;
}

@keyframes bg {
  0%,
  100% {
    background-color: var(--blue);
  }
  25% {
    background-color: var(--green);
  }
  50% {
    background-color: var(--yellow);
  }
  75% {
    background-color: var(--pink);
  }
}
